DEEPSEEK_TOKENS=
QWEN_TOKENS=
GIGACHAT_KEYS=
GIGACHAT_SCOPE=GIGACHAT_API_PERS
DANYAPI_GIGACHAT_CA_FILE=
OPENCODE_KEYS=
OPENCODE_ENABLED=
ALICE_ENABLED=
ALICE_ACCOUNTS=1
DUCKAI_ENABLED=
DUCKAI_ACCOUNTS=1
MISTRAL_ENABLED=
MISTRAL_LOGINS=
AISTUDIO_ENABLED=
AISTUDIO_LOGINS=
AISTUDIO_HEADLESS=1
AISTUDIO_STATE_DIR=
AISTUDIO_DOH_URL=https://xbox-dns.ru/dns-query
DANYAPI_ADMIN_TOKEN=
DANYAPI_HOST=0.0.0.0
DANYAPI_PORT=8000
DANYAPI_TIMEOUT=60
DANYAPI_ACQUIRE_TIMEOUT=
DANYAPI_SESSION_CACHE_SIZE=128
DANYAPI_SESSION_TTL_SECONDS=3600
DANYAPI_CACHE_DIR=
DANYAPI_CACHE_DISABLED=
DANYAPI_BYOK_AUTH_TTL_SECONDS=300
DANYAPI_MODELS_REFRESH_SECONDS=900
DANYAPI_LOG_LEVEL=INFO
DANYAPI_LOG_FILE=
DANYAPI_LOG_MAX_BYTES=10485760
DANYAPI_LOG_BACKUP_COUNT=3
DANYAPI_USAGE_ENABLED=1
DANYAPI_USAGE_MAX_RECORDS=1000
DANYAPI_AUTO_UPDATE=1
DANYAPI_CORS_ORIGINS=
DANYAPI_RESPONSES_MAX_RECORDS=1024
MCP_SERVERS=
DANYAPI_MCP_SEARCH_ENABLED=
DANYAPI_MCP_ITERATIONS=8
BYOK_MODE=
DANYAPI_BYOK_MODE=
DANYAPI_DISABLED_PROVIDERS=
